<h1> Enter the dimensions of your rectangle! </h1>
<form action="/Rectangle/Info" method="post">
    <div class="form-group">
        <label for="length"> Length: </label>
        <input name="length" id="length" type="text">
    </div>
    <div class="form-group">
        <label for="width"> Width: </label>
        <input name="width" id="width" type="text">
    </div>
    <button type="submit" class="button"> Submit </button>
</form>
