<h1> RESULTS </h1>
<p> Your rectangle's length: @Model.GetLength()</p>
<p> Your rectangle's width: @Model.GetWidth()</p>
<p> Your rectangle's surface area (L * W): @Model.GetArea()</p>

<!-- @if (Model.IsSquare())
{
<h5> Your rectangle is a SQUARE! </h5>
<p>The resulting Cube has the following properties: </p>
} -->

<p><a href="/"> Make another rectangle! </a></p>
<p><a href="/Rectangle/Cubes"> View all your cubes </a></p>
